.scroll-stop{ overflow: hidden; }
.main-visual{ display: flex; align-items: center; width: 100%; max-width: 100%; }
.main-visual .sticky-wrap{ width: 100%; height: 300vh; }
.main-visual .sticky{ display: flex; justify-content: center; align-items: center; position: sticky; top: 0;left: 0; width: 100%;height: 100vh; overflow: hidden; }
.main-visual .sticky-circle{ display: flex; flex-direction: column; align-items: center; justify-content: center; width: 500px; height: 500px; gap: 10px; border-radius: 50%; font-size: 48px; font-weight: bold; z-index: -1; background: #131313; color: #fff; }
.main-visual .text-wrap{ display: flex; align-items: center; justify-content: center; position: fixed; top: 0;left: 0; width: 100%; height: 100vh; z-index: 0; padding: 8em 2em; }
.main-visual .text{ width: 100%; max-width: 1920px; margin-left: auto; margin-right: auto; background: #f3f0f0; }
.main-visual .line{ line-height: 0.8em; font-family: 'VisbyCF'; text-transform: uppercase; letter-spacing: -.01em; }

/* intro */
.intro{ position: relative; padding: 8em 0; z-index: 1; background: #131313; color: #fff; }
.intro .intro-text{ display: flex; justify-content: space-between; position: relative; width: 750px; margin: 0 auto; padding: 0 50px; }
.intro .line{ position: absolute; top: 20px; right: 0px; width: 450px; height: 1px; background: #fff; }
.intro .col-left{ display: flex; flex-direction: column; order: -1; gap: 10px; font-size: 52px; line-height: 52px; opacity: .8; }
.intro .col-right{ order: 1; margin-top: 50px; font-size: 16px; line-height: 20px; word-break: keep-all; opacity: .8; }
.intro .col-right p{ display: flex; flex-direction: column; gap: 5px; align-items: flex-end; font-size: 18px; }
.intro .btn-pj{ width: 130px;height: 130px; margin-top: auto; border-radius: 50%; border: 1px solid #fff; transition: .3s; }
.intro .btn-pj:hover{ background: #fff; color: #000; }
.intro .pj-list{ display: flex; justify-content: center; gap: 35px; width: 100%; margin-bottom: 100px; transform: translateY(-100%); transition: .7s; opacity: 0; }
.intro .pj-list.on{ transform: translateY(0%); opacity: 1; }
.intro .pj-item{ width: 13%; height: 0; padding-bottom: 13%; border-radius: 50%; overflow: hidden; }
.intro .pj-item a{ display: flex; align-items: center; justify-content: center; position: relative; width: 100%; overflow: hidden; padding-bottom: 100%; text-transform: uppercase; }
.intro .pj-item a:hover span{ opacity: 1; }
.intro .pj-item a::before{ position: absolute; top: 0;left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); z-index: 1; opacity: 0; transition: .3s; content: ''; }
.intro .pj-item a:hover::before{ opacity: 1; }
.intro .pj-item span{ position: absolute; top: 50%; transform: translateY(-50%); z-index: 2; font-size: 16px; opacity: 0; }
.intro .pj-item img{ position: absolute; top: 0;left: 0; width: 100%;height: 100%; object-fit: cover; }

/* works */
.works{ position: relative; width: 100%; z-index: 10; background: #000; }
.works .title{ padding: 8em 2em; }
.works .title span{ display: block; font-size: 8vw; line-height: 0.9em; font-weight: 300; letter-spacing: .02em; color: #fff; text-transform: uppercase; }
.works .title .normal{ font-style: normal; }
.works .sticky-wrap{ position: relative; width: 100%; height: 300vh; background: #131313; }
.works .sticky{ display: flex; justify-content: center; align-items: center; position: sticky; top: 0;left: 0; width: 100%; height: 100vh; overflow: hidden; background-color: #131313; }
.works .sticky-circle{ display: flex; justify-content: center; align-items: center; position: relative; width: 35em;height: 35em; border-radius: 35em; overflow: hidden; }
.works .sticky-circle::before{ position: absolute; top: 0;left: 0; width: 100%;height: 100%; background: rgba(0, 0, 0, 0.3); content: ''; }
.works .sticky-circle img{ position: relative; width: 100%; height: 100vh; max-width: none; min-height: 100vh; min-width: 100vw; z-index: -1; object-fit: cover;background:#640faf;}
.works .sticky .work-item{ width: 100%; font-size: 6.5vw; line-height: 0.9em; text-transform: uppercase; white-space: nowrap; text-align: center; color: #fff; }
.works .text-wrap{ display: flex; flex-direction: column; align-items: flex-start; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: #fff; }
.works .sticky .inner{ position: absolute; margin: 0 auto; padding: 0 100px; bottom: 10%; color: #fff; word-break: keep-all; }
.works .sticky .text-wrap .work-item a{ display: block; font-weight: 400; }
.works .sticky .desc{ padding: 20px 0; font-size: 18px; line-height: 1.5; }
.works .sticky .desc span{margin-right:10px;color:#640faf;}
.works .sticky .info{ margin-bottom: 20px; }
.works .sticky .info2{ display: flex; gap: 15px; }
.works .sticky .info2 span{ padding: 5px 15px; border: 1px solid #fff; border-radius: 20px; font-size: 12px; }
.works .sticky .link-box{ display: flex; gap: 15px; margin-top: 20px; }
.works .sticky .link-go{ position: relative; padding: 10px 25px; overflow: hidden!important; border: 1px solid #fff; border-radius: 30px; font-size: 18px; color: #fff; transition: all .3s ease-in-out; }
.link-go:hover{ border: 1px solid #071982; color: #000!important; }
.link-go::before { display: block; position: absolute; top: 0; left: -10%; width: 0%; height: 100%; z-index: -1; background: #fff; transform: skewX(-20deg); opacity: 1; transition: all .7s cubic-bezier(0.77, 0, 0.175, 1); content: ''; } 
.link-go::after { display: block; position: absolute; left: -10%; top: 0; transform: skewX(-20deg); width: 0%; height: 100%; z-index: -2; background: #888; opacity: 0; transition: all .4s cubic-bezier(.2,.95,.57,.99); content: ''; }
.link-go:hover::before, .btn1O:hover::before{ width: 116%; opacity:1; }
.link-go:hover::after, .btn1O:hover::after{ width: 120%; opacity:1; }

/* about */
.about{ width: 100%; background: #f3f0f0; padding-top: 8vw; position: relative; z-index: 10; }
.about .text-slide>div>div{ color: #000; }
.about-list{ display: grid; grid-template-columns: repeat(3,1fr); }
.about-list .about-item{height: 520px; display: flex; flex-direction: column; align-items: center; border-top: 1px solid rgba(189, 189, 189, 0.5); border-left: 1px solid rgba(189, 189, 189, 0.5); position: relative; }
.about-list .about-item .sub-title{ margin-top: 32px; font-weight: 500; font-size: 32px; text-transform: uppercase; }
.about-item::before{ content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; z-index: -1; background-color: #000; transform: scaleX(.3); opacity: 0; transition: all .3s }
.about-item:hover::before{ opacity: 1; background-color: rgba(19, 19, 19, 1); transform: scaleX(1); }
.about-item:hover{ color: #fff; }
.about-item:hover .hover{ opacity: 1; }
.about-item .hover{ width: 310px; position: absolute; top: 50%; transform: translateY(-50%); font-size: 18px; text-align: center; opacity: 0; transition: .5s; }
.about-item .hover p{ line-height: 32px; }
.about .text-group{ padding-bottom: 40px; margin-top: 4em; }
.about .text-area{ max-width: 1280px; margin: 0 auto; }
.about .text-group .about-desc{ max-width: 600px; margin-bottom: 140px; font-size: 1.1vw; font-weight: 400; line-height: 1.7vw; }
.about .text-group .sub-title{ display: block; margin-top: 30px; }
.about .skill{ display: flex; }
.about .skill .sk-list{ width: 100%; display: flex; justify-content: space-between; }
.about .sk-item{ max-width: 350px; }
.about .skill .sk-list h3{ font-size: 2vw; font-weight: 400; line-height: 44px; margin: 20px 0; text-transform: uppercase; }
.about .skill .sk-list p{ font-size: 1.1vw; font-weight: 400; line-height: 1.7vw; }


